# CLES PRIVEES / secrets -> ne JAMAIS commiter
*.pem
*.key
*.ppk
id_rsa*

# artefacts de scan (peuvent contenir des donnees sensibles / creds)
loot/
*.ntds
*.ccache
*.pfx
*.hashes
*.kirbi

# python
__pycache__/
*.pyc
*.pyo

# editeurs
.vscode/
.idea/
*.swp
